table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}
p {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.ar {color:red}
.szerzo {font-style: inherit;}
.cime {font-size: large;}
.kep {width: 100%;}

